html {
    scroll-behavior: smooth;
}

body {
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin: 0;
    text-align: left;
    max-width: 15%;
}

.titles {
    color: white;
    font-size: 3.125vw;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    max-width: 50%;
}

.front-page {
    position: relative;
    width: 100%;
    display: inline-block;
    background-image: url("images/backgroundimage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;
    min-height: 90vh;
    color: #E6E6E6;
    text-align: center;
    height: 48em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.description1 {
    font-size: 30px;
    line-height: 36px;
    margin: 0px;
    padding-top: 150px;
    padding-left: 500px;
    text-align: center;
    color: #323232;
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    width: 50%;
}

.book_button {
    font-size: 30px;
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    text-align: center;
    background-color: #020202;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.08);
    border-color: #36F35B;
    border-width: 3px;
    border-style: solid;
    padding: 0 15px;
    text-transform: uppercase;
    color: #36F35B;
    height: 70px;
    width: 260px;
    line-height: 64px;
    transition: all 500ms cubic-bezier(0.585, -0.003, 0.25, 1);
    transform: scaleY(0.9);
}

.book_button:hover {
    background-color: #36F35B;
    color: #020202;
    text-decoration: none;
    cursor: pointer;
}

#coaches {
    background-color: #DCDCDC;
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    text-align: center;
    margin: 0;
    position: relative;
    background-image: url(//dfgw1zqlrucay.cloudfront.net/assets/v3/backgrounds/bg_element_1-448961298ea8d4a829baf4e8f8030f2ace67c5c7db1471bb8be3e3bd76a136e8.png);
    background-repeat: repeat;
    background-position: 50% 50%;
    background-attachment: fixed;
    height: auto;
}

.coaches-title {
    color: rgb(0, 0, 0);
    line-height: 86px;
    font-size: 72px;
    padding-left: 225px;
    padding-top: 20px;
    text-align: left;
    margin: 0;
}

h1 h2 h3 h4 h5 h6 {
    display: block;
    text-transform: uppercase;
    margin: 0;
    color: #000000;
}

.coaches-p {
    color: #323232;
    line-height: 18px;
    font-size: 14px;
    text-align: left;
    margin: 0;
    max-width: 56%;
    font-size: 18px;
    padding-top: 50px;
    padding-right: 64px;
    padding-left: 320px;
}

#pro-players {
    padding: 0 100px;
    margin-left: 210px;
    margin-right: 210px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    object-fit: cover;
}

.player {
    position: relative;
    overflow: hidden;
    padding: 10px;
    margin: 10px;
    width: 300px;
}

.player h1{
    font-size: 1.7em;
    margin: 0;
    padding: 0;
}

.player h2{
    font-size: 1.1em;
    margin: 0;
    padding: 0;
}

.player img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.player .description {
    padding: 5px;
    margin-left: 17px;
    margin-right: 17px;
    margin-top: 2px;
    text-align: center;
    font-size: 1.1em;
    border: 2px solid;
}

.view-coaches {
    font-size: 25px;
    background-color: #323232;
    border-color: #323232;
    color: #FFFFFF;
    text-transform: uppercase;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.08);
    transition: all 500ms cubic-bezier(0.585, -0.003, 0.25, 1);
    text-decoration: none;
    cursor: pointer;
    margin-left: 700px;
    margin-right: 700px;
    margin-bottom: 0px;
    margin-top: 0px;
    height: 45px;
    width: 480px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.view-coaches:hover {
    background-color: #36F35B;
    color: #020202;
    text-decoration: none;
    cursor: pointer;
    border: none;
}

.title_nav {
    color: white;
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;
    text-align: left;
    padding-left: -100px;
    margin: 0;
    padding: 0;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: #020202;
    padding: 10px; /* Add padding as needed */
    z-index: 1000; /* Ensure the navbar is on top of other elements */
}

nav a {
    color: #fff;
    text-decoration: none;
    line-height: 22px;
    font-size: 18px;
    padding: 8px 3px;
    margin: 10px;
}

.dropdown {
    position: relative;
    display: flex;
    justify-content: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    text-align: center;
    margin-top: 40px;
    background-color: #555;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 130px;
}

.dropdown-content a {
    display: block;
    margin: 0;
    color: #fff;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

nav a:hover,
.dropdown-content a:hover {
    background-color: #1b1b1ebe;
}

main {
    overflow: hidden;
}

footer {
    background-color: #1B1B1E;
    color: #fff;
    padding: 1px;
    text-align: center;
    position: fixed; /* Position the footer fixed at the bottom */
    width: 100%;
    bottom: 0;
}
