html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin: 0;
    text-align: left;
    max-width: 15%;
}

.title_nav {
    color: white;
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;
    text-align: left;
    padding-left: -100px;
    margin: 0;
    padding: 0;
}

.titles {
    color: white;
    font-size: 3.6em;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    max-width: 50%;
}

.front-page {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.815), rgba(0, 0, 0, 0.685)),
    url("images/ESports.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 48em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.book_button {
    color: rgb(255, 255, 255);
    height: 50px;
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    background-color: #96031A; /* Add your desired background color */
    border-radius: 1px; /* Add rounded corners */
    padding: 5px; /* Add padding for better appearance */
    cursor: pointer; /* Add cursor style for interactive elements */
    border: 2px solid #E44D26; /* Add a border with the first color */
    box-shadow: 0 0 0 8px #1B1B1E, 0 0 0 10px #E44D26; /* Add a second color border using box-shadow */
}

#coaches {
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin: 0;
    position: relative;
    background-image: url("images/gaming_bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
}

.coaches-title {
    color: rgb(0, 0, 0);
    font-size: 5em;
    padding-left: 35px;
    padding-top: 50px;
    text-align: left;
    margin: 0;
}

.coaches-p {
    color: rgb(0, 0, 0);
    font-size: 2.5em;
    padding-top: 50px;
    padding-bottom: 50px;;
    text-align: center;
    margin: 0;
}

#pro-players {
    padding: 30px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

.player {
    position: relative;
    overflow: hidden;
    padding: 10px;
    margin: 10px;
    width: 300px;
}

.player h1{
    font-size: 1.7em;
    margin: 0;
    padding: 0;
}

.player h2{
    font-size: 1.1em;
    margin: 0;
    padding: 0;
}

.player img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.player .description {
    padding: 5px;
    margin-left: 17px;
    margin-right: 17px;
    margin-top: 2px;
    text-align: center;
    font-size: 1.1em;
    border: 2px solid;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #1B1B1E;
    padding: 10px; /* Add padding as needed */
    z-index: 1000; /* Ensure the navbar is on top of other elements */
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 8px 3px;
    margin: 10px;
}

.dropdown {
    position: relative;
    display: flex;
    justify-content: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    text-align: center;
    margin-top: 40px;
    background-color: #555;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 130px;
}

.dropdown-content a {
    display: block;
    margin: 0;
    color: #fff;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

nav a:hover,
.dropdown-content a:hover {
    background-color: #1b1b1ebe;
}

main {
    overflow: hidden;
}

footer {
    background-color: #1B1B1E;
    color: #fff;
    padding: 1px;
    text-align: center;
    position: fixed; /* Position the footer fixed at the bottom */
    width: 100%;
    bottom: 0;
}
